<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:hardwareAccelerated="false"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.polarstarproject">

    <!-- 인터넷 사용 권한 허용-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 위치 권한 권한 허용-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- 저장소 권한 권한 허용-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 카메라 권한 권한 허용-->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:label="북극성"
        android:icon="@drawable/polaris_app_logo"
        android:roundIcon="@drawable/polaris_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${client_id}" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PermissionActivity" />
        <activity android:name=".UserSelectActivity" />
        <activity android:name=".DisabledRegisterActivity" />
        <activity android:name=".GuardianRegisterActivity"  />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".ConnectActivity" />
        <activity android:name=".RealTimeLocationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RouteActivity" />
        <activity android:name=".Myinfo_DuserActivity" />
        <activity android:name=".Myinfo_Duser_nActivity" />
        <activity android:name=".OtherInformationDisableCheckActivity" />
        <activity android:name=".OtherInformationGuardianCheckActivity" />
        <activity android:name=".RangeSettingActivity" />
        <activity android:name=".MenuSettingActivity" />
        <activity android:name=".SafeZoneActivity" />
        <activity
            android:name=".DatePickerActivity"
            android:exported="false" />

        <service android:name=".LocationService"
            android:enabled="true"
            android:exported="false" />


    </application>

</manifest>