<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polarstarproject">

    <!-- 인터넷 사용 권한 허용-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 위치 권한 권한 허용-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/polaris_roughly"
        android:label="북극성"
        android:roundIcon="@drawable/polaris_roughly"
        android:supportsRtl="true"
        android:theme="@style/Theme.PolarstarProject">

        <activity
            android:name=".UserSelectActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DisabledRegisterActivity" />

        <activity android:name=".MainActivity" />

        <activity android:name=".GuardianRegisterActivity"  />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".LoginActivity" />

        <activity android:name=".FindActivity" />
        <activity android:name=".ConnectActivity"  />
        <activity android:name=".OtherInformationCheckActivity"  />

    </application>

</manifest>

